.header{
    font-size: 50px;
    text-align: center;
    margin: auto;
    color: #F58A07;
    text-shadow: #000000 2px 2px 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 1px black;
}

.post-text{
   font-size: 23px;
   color: #F7F5FB;
   text-align: center;
   text-shadow: 2px 2px 5px #000000;
  
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.date{
    text-align: center;
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: #F7F5FB;
    text-shadow: 2px 2px 5px #000000;
}