body{
  
  background-color: #909CC2 ;
}
.blog-post-card{
  
  background-color: #F9AB55;
  
  border-radius: 10px;
  border: 3px solid #084887;
  width: 500px;
  padding: 50px;
  
  margin: auto;
  text-align: center;
}
.homepage-title{
  text-align: center;
  color: #F58A07;
  text-shadow: #000000 2px 2px 4px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: 1px black;
}
.post-img{
  border-radius: 20px;
  width: 380px;
  border: 3px solid aliceblue;
  box-shadow: 3px 3px 5px black;
  filter: brightness(80%);
  filter: contrast(-20%);
  filter: saturate(132%);
}
.post-content{
  text-align: center;
  padding: 3px;
}
.post-title{
  font-size: 30px;
  color: #f2f2f2;
  text-shadow: 2px 2px 6px #000000;
  margin: center;
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.post-excerpt{
  font-size: 23px;
  color: #F7F5FB;
  margin: center;
  text-shadow: 2px 2px 6px #000000;
  
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.read-more:hover{
  color: rgb(238, 136, 251);
  text-shadow: 2px 2px 2px #000000;
  transform: translateY(-3px) scale(1.2);
  will-change: transform;
}
.read-more{
  color: #c0e0ff;
  border-radius: 3px;
  
  text-shadow: 2px 2px 3px #000000;
  margin: 20px;
  display: inline-block;
  padding: 3px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
  

  position: relative; 
  transition: transform 0.3s ease-out;
}

